body {
    font-family: "Roboto", sans-serif;
    color: #4FBF6A !important;
    text-align: center !important;
    /* justify-content: center; */
}

.btn,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* FORMATOS DE LAS TABLAS */

thead {
    color: #4FBF6A;
    background-color: #353535;
}

tr:nth-child(even) {
    background-color: #353535;
    color: #ffffff;
    height: 20px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: #4FBF6A;
}

a:hover,
a:focus {
    color: initial;
}


/* FORMATOS DE LOS SWITCH */

.lbl {
    display: inline-block;
    width: 65px;
    height: 33px;
    background-color: red;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: .2s;
}

.lbl::after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: .2s;
}

input[name*="switch"]:checked+.lbl::after {
    left: 36px;
}

input[name*="switch"]:checked+.lbl {
    background-color: green;
}

input[name*="switch"] {
    display: none;
}


/* 
.lbl {
    width: 62px;
    height: 32px;
    background: #353535;
    z-index: 0;
    margin: 0;
    padding: 0;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    border-radius: 16px;
}

.lbl:before {
    content: ' ';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 60px;
    height: 30px;
    background: red;
    z-index: 1;
    border-radius: 16px;
}

.lbl:after {
    content: ' ';
    height: 29px;
    width: 29px;
    border-radius: 28px;
    z-index: 2;
    background: #FFFFFF;
    position: absolute;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    top: 1px;
    left: 1px;
    -webkit-box-shadow: 0 2px 5px #999999;
    box-shadow: 0 2px 5px #999999;
}

.lblOn,
.lblOn:before {
    background: #4cd964 !important;
}

.lblOn:after {
    left: 36px !important;
}

input[name*="switch"] {
    display: none;
} */